<div class="inventory-body">
    <div class="sticky-widget">
      <h1>Personal Animated Banner</h1>
      <h2>9/9/2019</h2>
      <p> I got the chance to work on a personal logo for myself over the weekend. I'm really blown away by the amount of power that 
        after effects gives you. I was able to spin up something reasonably professionally looking in a suprisingly short amount of time. I got 
        a little carried away and made it 4 seconds over the suggested time. It was a really cool learning experience doing the typing effects.
        Anyway, without further ado, I present to you my  
        <a href="https://www.youtube.com/watch?v=4BP3tbv5WOk">assignment</a>.
      </p>
    </div>
    <div class="sticky-widget">
      <h1>Humble Beginnings</h1>
      <h2>9/3/2019</h2>
      <p> It's only deep in the trenches of css that you realize you should have just cut your losses and instead made a WordPress
        application. I saw somewhere an absolute madperson was creating art peices with only css style rules. I don't know how
        insane you have to be, but I have some mad respect. Props to you wherever you are, css man.
      </p>
</div>