<div class="inventory-body">
  <div class="center-div margin-top">
    <div class="inner-display">
      <img src="assets/images/2.jpg" alt="Avatar">
    </div>
  </div>
  <div class="center-div" style="margin-top:50px">
    <div class="inner-display">
      <h1>Welcome Traveler! My Name is Zander Louie.</h1>
      <h2>I'm a <span style="color:#4F8C50">Programmer</span>, <span style="color:#B43936">Gamer</span> and <span style="color:#414770">Esports</span> Enthusiast</h2>
      <h3>Feel Free To Have a Look at my Wares!</h3>
    </div>
  </div>
</div>