img {
    border-radius: 50%;
    width: 20%;
}

.center-div {
    text-align: center
}

.inner-display {
    display: inline-block;
    color:white;
}

.margin-top{
    margin-top: 5%;
}

.inventory-body {
    height:100%;
    position: fixed;
    min-width: 100%;
    background-image: url('../../assets/images/fancy-pants.jpg');
    background-repeat: repeat;
    image-rendering: -webkit-optimize-contrast;
    background-position: center;
}